<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="contact" class="contact.Contact">
		<property name="email" value="kraciFromSpring@krasi.bg"></property>
	</bean>
	<bean id="person" class="contact.Person">
		<constructor-arg value="contact"></constructor-arg>
		<property name="name" value="ivan"></property>
		<property name="age" value="39"></property>
		<property name="contactInfo" ref="contact"></property>
	</bean>
</beans>
